<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books List</title>
    <style>
        table{
            border-collapse: collapse;
        }
        th, td{
            border: 1px solid black;
            padding: 6px 10px;
        }
        th{
            background-color: rgb(181, 181, 181);
        }
    </style>
</head>
<body>
    <h1>Books List</h1>
    <table>
        <thead class="head">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publication Date</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.publication_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>