<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
</head>
<body>
    <h1>Book Details</h1>
    Author Name : {{book.author}} <br> Book Name : {{book.title}} <br> Published Date : {{book.published_date}} <br>
    ISBN : {{book.ISBN}} <br> Pages : {{book.pages}} <br>
    {% if book.cover %}
    Cover : {{book.cover}}
    {% else %}
    Cover is not given
    {% endif %}
</body>
</html>